/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebea80;
    background-position: center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    background-color: #faf7f7;
    color: #151414;
    line-height: 1.6;
    
}

header {
    background-color: #121312;
    color: #fbf7f7 ;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #343232;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #f9f8f8;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f9eda5; /* Change the color on hover */
}

main {
    max-width: 1500px;
    margin: 20px auto;
    padding: 50px;
    background-color: #faf8faf4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(17, 2, 2, 0.992);
}

.welcome {
    text-align: center;
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(242, 241, 241, 0.953);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    background: rgba(7, 7, 11, 0.751);
    color: #f9f3f3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover p {
    opacity: 1;
}

h2 {
    color: #111111;
}
h3{
    color: #faf6f6;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fefcfc;
    color: #0f0f0f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.video-section{
    padding: initial;
    margin-bottom: 40px;
}




.gallery-item img{
        width: 350px;
        height: 500px;
        
    }
    .city-card {
        display: inline-block;
        width:200px; /* Ajuster la largeur en fonction du nombre de cartes */
        height: 300px;
        margin: 20px;
        background-color: #f0f0f0ff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
    }

    .city-card:hover {
        transform: translateY(-5px); /* Translation vers le haut au survol */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Augmentation de l'ombre au survol */
    }

    .city-card img {
        width: 200px;
        height: 350px;
        border-radius: 10px 10px 0 0; /* Coins arrondis seulement en haut */
    }

    .city-card h2 {
        font-family: 'Libre Baskerville', serif;
        padding: 20px 10px;
        margin: 10px;
        font-size: 35px;
        text-align: center;
        color: #0e0d0d;
        
    }
    .img{
        width: 300px;
        height: 480px;
    }

    /* Styles pour le footer */
    footer {
        background-color: #221f1f;
        color: #f9f7f7;
        text-align: center;
        padding: 10px; /* Réduire la taille du padding */
        transition: transform 0.3s ease-in-out; /* Ajout de la transition */
    }

    footer:hover {
        transform: translateY(-3px); /* Translation vers le haut au survol */
    }

    footer h3 {
        font-family: 'Inlander', sans-serif;
        margin-bottom: 10px;
    }

    footer ul {
        list-style-type: none;
        padding: 0;
        display: none; /* Par défaut, les détails sont masqués */
    }

    footer:hover ul {
        display: block; /* Afficher les détails au survol du footer */
    }

    footer ul li {
        margin-bottom: 5px;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }

    footer p {
        margin: 5px 0; /* Réduire la marge */
    

    }